.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width: 320px) and (max-width: 700px) {
  .App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  table {
    padding: 0.5em;
    position: relative;
  }

  th {
    background-color: #282c34;
    top: 0;
    padding-bottom: 5px;
    position: sticky;
    min-width: 50px;
  }

  tr td:first-child {
    text-align: right;
    padding-right: 1em;
  }
}

table {
  padding: 2em;
  position: relative;
}

th {
  background-color: #282c34;
  top: 0;
  padding-bottom: 5px;
  position: sticky;
  width: 125px;
}

input {
  width: 100%;
}

tr th:first-child {
  padding-right: 1em;
}

tr td:first-child {
  text-align: right;
  white-space: nowrap;
  padding-right: 1em;
}

.empty:hover {
  cursor: pointer;
  background-color: #52565c;
}

.none {
  background-color: #e74c3c;
}

.junior {
  background-color: #f39c12;
}

.intermediate {
  background-color: #00a65a;
}

.advanced {
  background-color: #0073b7;
}

.teach {
  background-color: #00c0ef;
}

#corner {
  opacity: 0;
}
