.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  padding: 2em;
  border-collapse: collapse;
  position: relative;
}

thead {
  background-color: #282c34;
  top: 0;
  position: sticky;
}

th {
  font-size: large;
  padding-bottom: 5px;
  width: 125px;
}

td {
  border: 2px solid #282c34;
}

input {
  width: 100%;
  height: 3em;
}

tr th:first-child {
  padding-right: 1em;
}

tr td:first-child {
  text-align: right;
  white-space: nowrap;
  padding-right: 1em;
}

.empty:hover {
  cursor: pointer;
  background-color: #52565c;
}

.none {
  background-color: #e74c3c;
}

.junior {
  background-color: #f39c12;
}

.intermediate {
  background-color: #00a65a;
}

.advanced {
  background-color: #0073b7;
}

.teach {
  background-color: #00c0ef;
}

#corner {
  opacity: 0;
}
